{% extends 'base.html' %}

{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}User Registration{% endblock %}

{% block content %}
<p>If you already have an account, you can <a href="{% url 'login' %}">sign in</a>.</p>

<form method="POST">
    <!--We need a csrf_token for security-->
        {% csrf_token %}
    <!--We use .as_p to register each field within the form as a <p> element, meaning 
    that they will display down the page instead of inline. This also allows us to 
    create tables later on if we desire to.-->
        {{ registration_form.as_p }}
        <button type="submit">Register</button>
    </form>
{% endblock %}